:root {
    --decoder-max-width: 500px;
    --back-button-height: 25vh;
    --back-button-width: 10vw;
    --header-bg-color: lavender;
    --instructions-bg-color: lavender;
    --selector-cell-width: 2em;
    --selector-cell-adjacent-width: 3em;
    --selector-cell-padding: 0.4em;
}

html, body { margin: 0; padding: 0; }
body > header { border-bottom: 2px solid black; text-align: center; background-color: var(--header-bg-color); }
body > header h1 { margin: 0; padding: 0.2em 0; }
h3:first-child { margin-top: 0; }
h3, h4 { margin-bottom: 0; }
ul.hide-list-format { padding: 0; list-style: none; }
input[type=radio]:disabled ~ span { color: lightgrey; }

#global-nav {
    position: fixed;
    top: calc(50vh - var(--back-button-height)/2);
    left: 0;
    height: var(--back-button-height);
    width: var(--back-button-width);
}
#global-nav * { height: 100%; }
#global-nav ul, #global-nav li { margin: 0; padding: 0; }
#global-nav li { list-style: none; }
#global-nav input { width: var(--back-button-width); }

.card {
    margin-left: var(--back-button-width);
    padding: 0.6em 0.3em 0.3em 0.3em;
}
.card *:first-child { margin-top: 0; }
.card p { margin-bottom: 0; }
[data-next-card], [data-nav-back] { display: block; margin: 1em 0; }

.card details { margin-bottom: 1em; background-color: var(--instructions-bg-color); }
.card details ol { margin: 0; padding-left: 6vw; }

.radio-as-button label span { cursor: pointer; }
.radio-as-button input[type=radio] { margin: 0; appearance: none; }
.radio-as-button input[type=radio] ~ span { display: inline-block; }
.radio-as-button input[type=radio]:checked ~ span { background-color: lightgreen; }
.radio-as-button input[type=radio]:not(:checked):not(:disabled) ~ span:hover { background-color: lightyellow; }

table.gate-selection { margin-top: 1em; border-collapse: collapse; }
table.gate-selection tbody { font-family: monospace; }
table.gate-selection tbody td { padding: 0; border: 1px solid black; }
table.gate-selection label { text-align: center; }
table.gate-selection input[type=radio] ~ span { display: inline-block; width: var(--selector-cell-width); padding: var(--selector-cell-padding) 0; }

#dragging-move-selection li, #modified-dragging-move-selection li { margin: 0.2em 0; }

output.mono-output { display: inline-block; padding: 0.25em 0; border: 1px solid black; font-family: monospace; }
output.short-generate { padding-left: 0.25em; padding-right: 0.25em; font-size: 125%; font-weight: bold; }

#combinations { font-family: monospace; }
.combination .pull { color: red; }

@media screen and (min-width: 500px) {
    :root {
        --back-button-width: 40px;
    }
    body { overflow-y: scroll; width: var(--decoder-max-width); margin: 0 auto; }
    #global-nav { left: calc(50% - var(--decoder-max-width)/2); }
    .card details ol { padding-left: revert; }
}